h1 {
  font-family: "Raleway";
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3 {
  margin-bottom: 1.5rem;
}
p {
  font-size: larger;
  text-align: justify;
  font-family: "Raleway";
  white-space: pre-line;
}

div a {
  text-decoration: none;
}

hr {
  width: 90%;
}

.custom-navbar {
  background-color: #eed61d;
}

.btn-custom {
  color: black;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid hsl(198, 1%, 29%);
}

.btn-custom:hover {
  color: black;
  border-radius: 5px;
  border: 1px solid hsl(198, 1%, 29%);
}

.btn-green {
  background-color: white;
}

.btn-green:hover {
  background-color: #769505;
}

.btn-red {
  background-color: white;
}

.btn-red:hover {
  background-color: #c02a01;
}
.navbar-brand {
  color: black;
  font-family: "Architects Daughter";
  font-size: 1.5rem;
}

.nav-item {
  font-family: "Josefin Sans";
  font-size: 1.3rem;
  color: black;
}

.nav-item:hover {
  text-decoration: underline;
  color: black;
}

.recipe-title {
  text-align: center;
}

.recipe-img {
  width: 100%;
  height: auto;
}

.recipe-card {
  width: "15rem";
}

.btn-create {
  margin-top: 3rem;
  height: 3rem;
  color: black;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid hsl(198, 1%, 29%);
}

.btn-create:hover {
  color: black;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid hsl(198, 1%, 29%);
  background-color: #769505;
}

.title-details {
  font-size: 1.75rem;
  font-weight: 500;
  font-family: system-ui;
}

.ingredient-details {
  font-size: 1.1rem;
  display: list-item;
  margin-left: 1.5rem;
}
