.ingredient-img {
  border-radius: 25px;
  width: 10rem;
  font-size: 0;
  max-height: 8rem;
  object-fit: cover;
}

td {
  font-family: "Raleway";
  font-size: larger;
  vertical-align: middle;
}

th {
  font-family: "Bitter";
  font-weight: x-large;
  font-size: larger;
}


