.dropdown-elem {
  display: inline-block;
  margin-top: -12px;
  margin-bottom: -12px;
  font-family: "Raleway";
}

.dropdown-content {
  background-color: #f9f9f9;
  min-width: 10rem;
  padding: 0.8rem 1.2rem;
  z-index: 1;
  width: 51%;
  border: #eee;
}

.dropdown-content:hover {
  background-color: #f9f9f9;
  min-width: 10rem;
  padding: 0.8rem 1.3rem;
  z-index: 1;
  width: 51%;
  background-color: #eee;
}
.custom-dropdown {
  list-style-type: none;
}
