h1 {
  font-family: "Raleway";
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-family: "Raleway";
  font-weight: 800;
}

li,
p {
  font-family: "Raleway";
  font-size: larger;
  text-align: justify;
  white-space: pre-line;
}

div a {
  text-decoration: none;
}

input[type="text"] {
  font-size: 1.3rem;
}

.btn-custom {
  color: black;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid hsl(198, 1%, 29%);
  font-family: "Raleway";
}

.btn-custom:hover,
.btn-custom:focus {
  color: black;
  border-radius: 5px;
  border: 1px solid hsl(198, 1%, 29%);
  font-family: "Raleway";
}

.btn-green {
  background-color: white;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #769505;
}

.btn-red {
  background-color: white;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #c02a01;
}

.modalLabel {
  font-weight: 700;
  font-size: larger;
  font-family: "Raleway";
}

textarea {
  font-family: "Raleway";
}

input[type=checkbox] {
  transform: scale(1.5);
}
